.footer {
  padding: 30px;  
  padding-left: 180px;  
  font-family: OpenSans, OpenSans, Verdana, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;    
  background: linear-gradient(130deg, #8624E1 25%, #3607A6 100%);
}

.footerDetails {
  color: #ffffff;
}

@media (orientation: portrait) and (max-width: 480px) {
  .footer {
    padding-left: 30px;
  }
}